body{
    background: radial-gradient(ellipse, #804F87, #302E2E);
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.input-field input {
    width: 60%;
}

button[type=submit]{
    width: 100%;
}

button[type=submit]:hover, button[type=submit]:active, button[type=submit]:focus{
    background-color: #FFF2D9;
    color: #302E2E;
    transition: all 0.5s linear;
}